@use 'lib' as *;

.plan {
	$self: &;

	min-height: fit-content;
	height: 100svh;
	background: var(--sea);
	padding-top: 120px;

	&__wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: center;
		overflow: hidden;
	}

	&__frame {
		position: relative;
		min-height: 100%;
		min-width: 100%;
	}

	&__frame-svg {
		position: absolute;
		height: 100%;
		inset: 0;
		z-index: 1;
		object-fit: cover;
		width: 100%;
	}

	&__frame-img {
		position: absolute;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

}
