@use 'lib' as *;

.news {
	$self: &;

	background: var(--sea);
	color: var(--sand);
	padding-top: fluid(220px, 110px);
	padding-bottom: fluid(150px, 80px);

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 300;
		font-size: fluid(100px, 40px);
		margin-bottom: fluid(100px, 40px);
		line-height: 100%;
	}

	&__categories {
		margin-bottom: 60px;
		display: flex;
		flex-direction: row;
		gap: fluid(20px, 10px);
	}

	&__categories-btn {
		@include flex-center;
		padding: fluid(24.5px, 20.5px);
		min-width: fluid(194px, 120px);
		border-radius: 30px;
		border: 1px solid var(--sand);
		font-size: fluid(16px, 14px);
		text-transform: uppercase;
		font-weight: 500;
		line-height: 100%;

		&.is-current {
			background: var(--sand);
			color: var(--green);
		}
	}

	&__items {
		display: grid;
		margin-bottom: fluid(100px, 60px);

		@include media("<=sm") {
			grid-template-columns: 100%;
		}

		@include media(">sm") {
			grid-template-columns: repeat(2, auto);
		}

		@include media(">xlg") {
			grid-template-columns: repeat(3, auto);
		}

	}

	&__item {
		padding-top: fluid(40px, 20px);
		cursor: pointer;

		.card-b__body {
			min-height: fluid(458px, 380px);
		}

		@include media(">xlg") {

			&:nth-child(3n + 1),
			&:nth-child(3n + 2) {
				.card-b__container {
					padding-right: fluid(40px, 20px);
					border-right: 1px solid var(--sand);
				}
			}

			&:nth-child(3n + 2),
			&:nth-child(3n + 3) {
				.card-b__container {
					padding-left: fluid(40px, 20px);
				}
			}

			&:not(:nth-last-child(-n + 3)) {
				padding-bottom: fluid(40px, 20px);
				border-bottom: 1px solid var(--sand);
				border-top: 1px solid var(--sand);
			}
		}

		@include media(">sm", "<=xlg") {

			border-top: 1px solid var(--sand);

			&:nth-child(2n + 1) {
				.card-b__container {
					padding-right: fluid(40px, 20px);
					border-right: 1px solid var(--sand);
				}
			}

			&:nth-child(2n + 2) {
				.card-b__container {
					padding-left: fluid(40px, 20px);
				}
			}

			&:not(:nth-last-child(-n + 2)) {
				padding-bottom: fluid(40px, 20px);
			}
		}

		@include media("<=sm") {

			padding-top: fluid(40px, 20px);

			&:first-child {
				border-top: 1px solid var(--sand);
			}

			&:not(:last-child) {
				padding-bottom: fluid(40px, 20px);
				border-bottom: 1px solid var(--sand);
			}
		}
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		align-self: center;
	}

	&__navigation-item {
		@include flex-center;
		cursor: pointer;
		font-size: 20px;

		&.is-current {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: var(--sand);
			color: var(--sea);
		}
	}

}