<footer class="footer">
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__info">
                <a href="#" class="footer__adreess">Россия, Калининградская область, г. Светлогорск, Калининградский
                    пр-т, 68б</a>
                <p class="footer__schedule">ПН-ПТ: С 10:00 ДО 18:00</p>
                <a href="#" class="footer__mail">smeala@mail.ru</a>
                <a href="#" class="footer__tel">+7 (911) 458-84-04</a>
                <div class="footer__socials">
                    <a href="#" class="footer__socials-item">
                        <img loading="lazy" src="./img/icons/tg.svg" alt="">
                        Связаться
                    </a>
                    <a href="#" class="footer__socials-item">
                        <img loading="lazy" src="./img/icons/whatsapp-2.svg" alt="">
                        Whatsapp
                    </a>
                </div>
            </div>
            <div class="footer__side">
                <p class="footer__about">
                    Любая информация, представленная на этом сайте, носит исключительно ознакомительный характер, ни при
                    каких обстоятельствах не является публичной офертой, определяемой положениями статьи 437 ГК РФ.
                    Готовые объекты могут отличаться от представленных 3D-визуализаций. Все представленные материалы
                    являются ориентировочными, и в них могут быть внесены любые изменения.
                </p>
                <a href="#" class="footer__link">ЗАСТРОЙЩИК</a>
                <a href="#" class="footer__link">РАЗРАБОТКА AIMART</a>
            </div>
        </div>
        <div class="footer__logo">
            <img loading="lazy" src="./img/logo-svg.svg" alt="">
        </div>
    </div>
</footer>


