<header class="header @@if(this.class){@@class}">
    <div class="header__container container">
        <div class="header__column header__column_left">
            <button type="button" class="header__burger">
                <div class="header__burger-icon">
                    <span></span>
                    <span></span>
                </div>
                <b class="header__burger-text">Меню</b>
            </button>
            <div class="header__apart">
                <button type="button" class="header__apart-btn">
                    <svg>
                        <use xlink:href="#key"></use>
                    </svg>
                    Выбор апартаментов
                </button>
                <div class="header__apart-menu">
                    <div class="header__apart-menu-content">
                        <a href="#" class="header__apart-link">
                            <h4 class="header__apart-link-title">ВЫБОР НА ПЛАНЕ</h4>
                            <div class="header__apart-link-icon">
                                <img loading="lazy" src="./img/icons/eye.svg" alt="">
                            </div>
                            <img loading="lazy" src="" alt="" class="header__apart-link-image">
                        </a>
                        <a href="#" class="header__apart-link">
                            <h4 class="header__apart-link-title">ВЫБОР ПО ПАРАМЕТРАМ</h4>
                            <div class="header__apart-link-icon">
                                <img loading="lazy" src="./img/icons/settings.svg" alt="">
                            </div>
                            <img loading="lazy" src="" alt="" class="header__apart-link-image">
                        </a>
                    </div>
                </div>
            </div>
            <a href="tel:+7 (999) 999-99-99" class="header__tel">+7 (911) 458-84-04</a>
        </div>
        <div class="header__logo">
            <img loading="lazy" class="header__logo-img header__logo-img_default" src="./img/logo-k.svg" alt="">
            <img loading="lazy" class="header__logo-img header__logo-img_brick" src="./img/logo-k-b.svg" alt="">
        </div>
        <div class="header__column header__column_right">
            <a href="#" class="header__adreess">
                г. Светлогорск, <br> Калининградский пр-т, 68б
            </a>
            <button type="button" class="header__like">
                <svg>
                    <use xlink:href="#heart"></use>
                </svg>
            </button>
            <div class="header__socials">
                <a href="#" class="header__socials-item">
                    <img loading="lazy" src="./img/icons/tg.svg" alt="">
                </a>
                <a href="#" class="header__socials-item">
                    <img loading="lazy" src="./img/icons/whatsapp.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div data-parallax class="header__menu">
        <div class="header__menu-container container">
            <div class="header__menu-columns">
                <div class="header__menu-column header__menu-column_left">
                    <ul class="header__nav">
                        <li class="header__nav-item"><a href="#">ГЛАВНАЯ</a></li>
                        <li class="header__nav-item"><a href="#">галерея</a></li>
                        <li class="header__nav-item"><a href="#">как купить?</a></li>
                        <li class="header__nav-item"><a href="#">НОВОСТИ И АКЦИИ</a></li>
                        <li class="header__nav-item"><a href="#">контакты</a></li>
                    </ul>
                    <ul class="header__links">
                        <li class="header__links-item"><a href="#">ХОД СТРОИТЕЛЬСТВА</a></li>
                        <li class="header__links-item"><a href="#">ДОКУМЕНТАЦИЯ</a></li>
                        <li class="header__links-item"><a href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a></li>
                        <li class="header__links-item"><a href="#">пользовательское соглашение</a></li>
                    </ul>
                </div>
                <div class="header__menu-column header__menu-column_right">
                    <div class="header__types">
                        <a href="#" class="header__type header__type_first">
                            <div class="header__type-image">
                                <img loading="lazy" src="./img/types/1.webp" alt="">
                            </div>
                            <button type="button" class="header__type-btn">
                                Выбрать апартаменты
                                <svg>
                                    <use xlink:href="#key"></use>
                                </svg>
                            </button>
                        </a>
                        <a href="#" class="header__type header__type_second">
                            <div class="header__type-image">
                                <img loading="lazy" src="./img/types/2.webp" alt="">
                            </div>
                            <button type="button" class="header__type-btn">
                                Выбрать паркинг
                                <svg>
                                    <use xlink:href="#parking"></use>
                                </svg>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__mobile">
                <a href="#" class="header__adreess-mobile">Россия, Калининградская область, г. Светлогорск,
                    Калининградский пр-т, 68б</a>
                <p class="header__schedule-mobile">ПН-ПТ: С 10:00 ДО 18:00</p>
                <a href="#" class="header__mail-mobile">smeala@mail.ru</a>
                <a href="#" class="header__tel-mobile">+7 (911) 458-84-04</a>
                <div class="header__socials-mobile">
                    <a href="#" class="header__socials-item-mobile">
                        <img loading="lazy" src="./img/icons/tg.svg" alt="">
                        связаться
                    </a>
                    <a href="#" class="header__socials-item-mobile">
                        <img loading="lazy" src="./img/icons/whatsapp-2.svg" alt="">
                        Whatsapp
                    </a>
                </div>
            </div>
        </div>
        <img data-parallax-item="20, 0.01" style="bottom: 25%; left: 25%;" src="./img/decor/fall-blur-1.webp" alt=""
            class="header__menu-decor">
    </div>
</header>