<div class="news-modal modal">
    <div class="news-modal__container container modal__content">
        <div class="news-modal__image">
            <img loading="lazy" src="./img/card-b/1.webp" alt="">
        </div>
        <p class="news-modal__date title"></p>
        <h3 class="news-modal__title title"></h3>
        <div class="news-modal__text"></div>
        <button type="button" class="news-modal__close modal__close">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
    </div>
</div>
<div class="callback-modal modal">
    <div class="callback-modal__container container">
        <div class="callback-modal__body modal__content">
            <h4 class="callback-modal__title title">Связаться с нами</h4>
            <p class="callback-modal__text">
                Оставьте заявку, мы свяжемся с вами в течение 15 минут. Наш специалист проконсультирует вас по любым вопросам..
            </p>
            <form class="callback-modal__form">
                <label class="callback-modal__label">
                    <input placeholder="Имя" type="text" class="callback-modal__input">
                </label>
                <label class="callback-modal__label">
                    <input placeholder="Номер телефона" type="tel" class="callback-modal__input">
                </label>
                <label class="callback-modal__label">
                    <input placeholder="E-mail" type="email" class="callback-modal__input">
                </label>
                <button type="submit" class="callback-modal__btn">
                    <span>Оставить заявку</span>
                    <svg><use xlink:href="#hand"></use></svg>
                </button>
            </form>
            <div class="callback-modal__agree">
                Продолжая, вы даете свое согласие на обработку Ваших персональных данных и принимаете условия <a href="#">Пользовательского соглашения.</a>
            </div>
        </div>
        <button type="button" class="callback-modal__close">
            <svg><use xlink:href="#close"></use></svg>
        </button>
    </div>
</div>