@use 'lib' as *;

.parking {
	$self: &;

	padding-top: fluid(180px, 110px);
	background: var(--sand);
	min-height: 100svh;
	padding-bottom: 70px;

	&__container {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 80px;

		@include media(">lg") {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
		}
	}

	&__btn {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		font-size: fluid(16px, 14px);
		color: var(--brick);
		text-transform: uppercase;
	}

	&__btn-icon {
		@include flex-center;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 1px solid var(--brick);

		svg {
			width: 30px;
			height: 24px;
			stroke: var(--brick);
			fill: transparent;
		}
	}

	&__info {
		display: flex;
		position: relative;
		
		@include media(">lg") {
			display: none;
		}

		&.active {
			#{$self}__info-icon img:nth-child(1) {
				opacity: 0;
			}

			#{$self}__info-icon img:nth-child(2) {
				opacity: 1;
			}
			#{$self}__info-pop {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}

	&__info-icon {
		width: 25px; height: 25px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			width: 200%; height: 200%;
			border-radius: 100%;
			pointer-events: all;
		}

		img {
			position: absolute;
			inset: 0;
			transition: all var(--trans);

			&:nth-child(1) {
				opacity: 1;
			}

			&:nth-child(2) {
				opacity: 0;
			}
		}

	}

	&__info-pop {
		position: absolute;
		top: 0;
		right: calc(100% + 15px);
		background: var(--brick);
		padding: 10px 10px 15px 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all var(--trans);
	}

	&__info-item {
		width: 117px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 14px;
		gap: 10px;

		img {
			height: 40px;
		}
	}

	&__frame {
		width: 100%;
		max-width: 748px;
		align-self: center;
	}

}
