@use 'lib' as *;

.footer {
	$self: &;

	margin-top: auto;
	background: var(--green);
	padding-top: fluid(80px, 60px);
	overflow: hidden;
	font-family: "Montserrat", sans-serif;

	&__main {
		padding-bottom: fluid(80px, 40px);
		border-bottom: 1px solid var(--sand);
		display: grid;
		grid-template-columns: minmax(auto, 439px) minmax(auto, 785px);
		gap: 40px;
		justify-content: space-between;

		@include media("<=md") {
			grid-template-columns: 100%;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__adreess {
		transition: all var(--trans);

		&:hover {
			color: var(--brick);
		}
	}

	&__schedule {}

	&__mail {
		transition: all var(--trans);

		&:hover {
			color: var(--brick);
		}
	}

	&__tel {
		font-family: "Bounded", sans-serif;
		font-size: 30px;
		transition: all var(--trans);

		&:hover {
			color: var(--brick);
		}
	}

	&__socials {
		margin-top: fluid(30px, 10px);
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	&__socials-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		border-radius: 30px;
		padding: 5px;
		padding-right: 13px;
		border: 1px solid var(--sand);
		transition: all var(--trans);

		img {
			width: 30px;
			height: 30px;
		}

		&:hover {
			background: var(--sand);
			color: var(--brick);
		}
	}

	&__side {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		gap: 40px;
	}

	&__about {
		font-weight: 300;
		font-size: fluid(14px, 12px);
		line-height: 160%;
	}

	&__link {
		font-size: fluid(20px, 16px);
		font-weight: 500;
		text-transform: uppercase;
		transition: all var(--trans);

		&:hover {
			color: var(--brick);
		}
	}

	&__logo {
		padding-top: fluid(80px, 40px);
		width: 100%;
		margin-bottom: -9%;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}

		@include media("<=xs") {
			margin-bottom: -20px;
		}
	}

}