@use 'lib' as *;

.location-main {
	$self: &;

	&__wrapper {
		height: 100svh;
		min-height: fit-content;
		overflow: hidden;
	}

	&__block {

		position: relative;
		min-height: fit-content;
		height: 860px;
		min-height: fit-content;
		overflow: hidden;
		inset: 0;
		display: flex;
		flex-direction: row;

		&_first {
			background: var(--sand);
			padding-top: fluid(310px, 200px);
			z-index: 1;
		}

		&_second {
			background: var(--green);
			z-index: 2;
		}
	}

	&__location {
		top: 0; left: 0;
		height: 100%;
		width: 70%;
		overflow: hidden;
		z-index: 1;
		position: absolute;


		@include media("<=xxlg") {
			width: 90%;
		}
	}

	&__location-title {
		position: absolute;
		top: fluid(100px, 60px); left: fluid(279px, 15px);
		z-index: 1;
		font-size: fluid(170px, 40px);
		text-wrap: nowrap;
		line-height: 100%;
	}

	&__location-image {
		position: absolute;
		inset: 0;
		object-fit: cover;
		z-index: 0;
		height: 100%; width: 100%;
		opacity: 0;
		transition: all var(--trans);

		&.active {
			opacity: 1;
		}
	}

	&__about-decor {
		position: absolute;
		bottom: 70%; left: 0;
		width: fluid(400px, 200px);

		@include media("<=xxlg") {
			left: auto;
			right: 10%;
			bottom: 90%;
		}
	}

	&__about {
		margin-top: auto;
		margin-left: auto;
		width: 45%;
		height: fit-content;
		background: var(--green);
		padding: fluid(60px, 30px) fluid(60px, 30px) 30px fluid(60px, 30px);
		z-index: 2;
		position: relative;

		@include media("<=xxlg") {
			width: 85%;
		}
	}

	&__about-swiper.swiper {
		max-width: 602px;
		overflow: hidden;
		margin: 0;
		margin-bottom: 60px;
	}

	&__about-slide {

	}

	&__about-text {
		display: flex;
		flex-direction: column;
		gap: 32px;
		font-weight: 300;
		line-height: 160%;
		margin-bottom: 60px;
		font-size: fluid(16px, 12px);
	}

	&__about-title {
		font-weight: 300;
		font-size: fluid(30px, 16px);
		text-transform: uppercase;
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
	}

	&__navigation-btn {
		@include flex-center;
		width: fluid(50px, 36px); height: fluid(50px, 36px);
		border-radius: 100%;
		border: 1px solid var(--sand);
		cursor: pointer;

		svg {
			width: fluid(30px, 22px); height: fluid(25px, 18px);
			fill: transparent;
			stroke: var(--sand);
		}
	}

	&__name {
		position: absolute;
		top: 35%; left: 280px;
		color: rgba($color: #F8F0E5, $alpha: 0.2);
		font-size: fluid(450px, 150px);
		font-weight: 400;
		font-family: "Bounded", sans-serif;
		pointer-events: none;
	}

	&__road {
		width: 65%;
		padding-top: fluid(200px, 30px);
		padding-left: fluid(279px, 30px);
		padding-bottom: 60px;
		background: var(--brick);
		height: fit-content;
		position: absolute;
		left: 0; top: 0;
		z-index: 0;

		@include media("<=xxlg") {
			width: 90%;
		}
	}

	&__road-slide.swiper-slide {
		opacity: 0 !important;
		transition: opacity var(--trans);

		&.swiper-slide-active {
			opacity: 1 !important;
		}
	}

	&__road-title {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: fluid(30px, 15px);
		padding-bottom: fluid(60px, 30px);
		border-bottom: 1px solid var(--sand);
		margin-bottom: fluid(60px, 30px);

		b {
			font-size: fluid(170px, 70px);
			line-height: 100%;
		}

		span {
			line-height: 100%;
			font-weight: 300;
		}
		font-size: fluid(30px, 16px);
		text-transform: uppercase;
	}

	&__road-container {
		max-width: 544px;
		overflow: visible;

		@include media("<=xs") {
			margin-right: 30px;
		}
	}

	&__road-text {
		min-height: 219px;
		margin-bottom: 34px;
		font-weight: 300;
		line-height: 160%;
		font-size: fluid(16px, 12px);

		@include media("<=xs") {
			min-height: auto;
		}
	}

	&__photos {
		position: relative;
		width: 45%; 
		margin-top: 200px;
		margin-left: auto;
		display: grid;
		grid-template-columns: 1fr 30%;
		gap: fluid(40px, 10px);
		z-index: 1;
		height: fit-content;

		@include media("<=xxlg") {
			margin-top: 324px;
			grid-template-columns: 1fr 10%;
		}
	}

	&__photo {
		aspect-ratio: 185 / 292;
		height: 100%;
		object-fit: cover;
	}

}
