@use 'lib' as *;

.favorite {
	$self: &;

	background: var(--green);
	padding-top: fluid(220px, 110px);
	padding-bottom: fluid(150px, 80px);

	&__container {}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
		padding-bottom: 40px;
		border-bottom: .5px solid var(--sand);
		margin-bottom: 40px;

		@include media("<=xs") {
			padding-bottom: 0;
			border: none;
		}
	}

	&__title {
		font-size: fluid(100px, 40px);
		font-weight: 300;
		text-transform: uppercase;
		line-height: 100%;
	}

	&__result {
		font-weight: 300;
		text-transform: uppercase;

		@include media("<=xs") {
			display: none;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		gap: fluid(20px, 10px);
		flex-wrap: wrap;
		padding-bottom: 40px;
		border-bottom: .5px solid var(--sand);

		@include media("<=xs") {
			padding-bottom: 60px;
		}
	}

	&__navigation-btn {
		line-height: 100%;
		padding: fluid(24.5px, 20.5px) 0px;
		border: 1px solid var(--sand);
		border-radius: 30px;
		min-width: fluid(194px, 148px);
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;

		&.is-current {
			background: var(--sand);
			color: var(--green);
		}
	}

	&__items {
		display: grid;

		@include media("<=xs") {
			grid-template-columns: 100%;
		}

		@include media(">xs") {
			grid-template-columns: repeat(2, auto);
		}

		@include media(">sm") {
			grid-template-columns: repeat(3, auto);
		}
	}

	&__item {
		padding-top: fluid(40px, 20px);

		@include media(">sm") {

			&:nth-child(3n + 1),
			&:nth-child(3n + 2) {
				.card-a__container {
					padding-right: fluid(40px, 20px);
					border-right: 1px solid var(--sand);
				}
			}

			&:nth-child(3n + 2),
			&:nth-child(3n + 3) {
				.card-a__container {
					padding-left: fluid(40px, 20px);
				}
			}

			&:not(:nth-last-child(-n + 3)) {
				padding-bottom: fluid(40px, 20px);
				border-bottom: 1px solid var(--sand);
				border-top: 1px solid var(--sand);
			}
		}

		@include media(">xs", "<=sm") {

			border-top: 1px solid var(--sand);

			&:nth-child(2n + 1) {
				.card-a__container {
					padding-right: fluid(40px, 20px);
					border-right: 1px solid var(--sand);
				}
			}

			&:nth-child(2n + 2) {
				.card-a__container {
					padding-left: fluid(40px, 20px);
				}
			}

			&:not(:nth-last-child(-n + 2)) {
				padding-bottom: fluid(40px, 20px);
			}
		}

		@include media("<=xs") {

			min-height: fluid(458px, 365px);
			padding-top: fluid(40px, 20px);

			&:first-child {
				border-top: 1px solid var(--sand);
			}

			&:not(:last-child) {
				padding-bottom: fluid(40px, 20px);
				border-bottom: 1px solid var(--sand);
			}
		}
	}

}