@use 'lib' as *;

.location {
	$self: &;

	position: relative;
	background: var(--green);

	&__wrapper {

	}

	&__block-container {
		@include flex-center;
		flex-direction: column;
		height: 100%;
		position: relative;
		overflow: hidden;

		@include media("<=xxlg") {
			gap: 60px;
		}
	}

	&__block {
		min-height: fit-content;
		height: 100svh;

		&_first {
			z-index: 1;
		}

		&_second {
			z-index: 2;
		}
	}

	&__text {
		text-align: center;
		font-family: "Bounded", sans-serif;
		font-weight: 300;
		font-size: fluid(70px, 30px);
		max-width: 1225px;
		line-height: 100%;
		position: relative;
		z-index: 0;
		text-transform: uppercase;
	}

	&__btn {
		@include flex-center;
		border-radius: 100%;
		width: fluid(200px, 120px);
		height: fluid(200px, 120px);
		background: var(--brick);
		flex-direction: column;
		gap: fluid(20px, 10px);
		font-size: fluid(20px, 14px);
		margin-top: -7%;
		margin-right: 28%;
		margin-left: auto;
		font-weight: 500;
		text-align: center;
		line-height: 160%;
		position: relative;
		z-index: 1;

		svg {
			width: fluid(32px, 18px);
			height: fluid(32px, 18px);
			fill: var(--sand);
		}

		@include media("<=xxlg") {
			margin-top: 0;
			margin: 0;
			align-self: center;
		}

		@include media("<=xs") {
			transform: none !important;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			scale: 1.1;
		}
	}

	&__absolute-container {
		position: absolute;
		inset: 0;
		z-index: 3;
	}

	&__arrow {
		position: absolute;
		bottom: 135px;
		right: 0;
		animation: arrow 1s infinite;
		width: fluid(80px, 50px);
		height: fluid(80px, 50px);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__fall {
		position: absolute;

		@include media("<=xs") {
			transform: none !important;
		}

		&:nth-child(1) {
			top: -50%;
			left: 0;
			width: fluid(300px, 150px);

			@include media("<=xs") {
				top: -30%;
			}
		}

		&:nth-child(2) {
			bottom: 30%;
			right: -5%;
			width: fluid(250px, 150px);

			@include media("<=xs") {
				right: -10%;
				bottom: 45%;
			}
		}

		&:nth-child(3) {
			bottom: -10%;
			left: 30%;
			width: fluid(150px, 70px);

			@include media("<=xs") {
				left: 10%;
			}
		}
	}

}