@use 'lib' as *;

.pages {
	$self: &;

	background: var(--brick);
	padding-top: fluid(220px, 160px);
	padding-bottom: fluid(100px, 60px);

	&__title {
		font-size: fluid(84px, 48px);
		text-transform: uppercase;
		margin-bottom: fluid(80px, 40px);
	}

	&__container {

	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__list-item {
		font-size: fluid(24px, 22px);
		text-transform: uppercase;
		font-weight: 500;
		color: #afafaf;
		pointer-events: none;

		&.is-ready {
			color: var(--sand);
			pointer-events: auto;
		}
	}

}
